name: Develop

run-name: DevelopTerraform

on:
  push:
    branches:
      - main
    paths:
      - develop/**
      - .github/workflows/develop.yml

permissions:
  id-token: write
  contents: read

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    environment: develop
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: AWS Config
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ap-northeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ vars.TERRAFORM_VERSION }}

      - name: Terraform init
        id: init
        run: terraform init -backend-config="bucket=${{ vars.TFSTATE_BUCKET }}"

      - name: Terraform fmt
        id: fmt
        run: terraform fmt -recursive

      - name: Terraform plan
        id: plan
        run: terraform plan -no-color -var-file=terraform.tfvars
